<div class='content-wrapper'>
    <main>
        <fieldset>
            <legend>Prise de contact</legend>
        <form method='post'>

            <div>
                <label>
                    Email
                </label>
                <input type='email' placeholder='johndoe@gmail.com'>
            </div>

            <div>
                <label>
                    Prenom
                </label>
                <input type='text' placeholder='John'>
            </div>
            
            <div>
                <label>
                    Nom
                </label>
                <input type='text' placeholder='Doe'>
            </div>

            <div>
                <label>
                    Note
                </label>
                <textarea maxlength='1000' cols='40' rows='7'></textarea>
            </div>

            <button name='submit'>submit</button>
            
        </form>

    </fieldset>
    </main>
</div>