<div class='content-wrapper'>
    <main>
        <fieldset>
            <legend>Prise de contact</legend>
        <form method='post'>

            <div>
                <label for='email'>
                    Email
                </label>
                <input type='email' placeholder='johndoe@gmail.com' id='email' name='email'>
            </div>

            <div>
                <label for='firstname'>
                    Prenom
                </label>
                <input type='text' placeholder='John' id='firstname' name='firstname'>
            </div>
            
            <div>
                <label for='lastname'>
                    Nom
                </label>
                <input type='text' placeholder='Doe' id='lastname' name='lastname'>
            </div>

            <div>
                <label for='message'>
                    Message
                </label>
                <textarea maxlength='1000' cols='40' rows='7' id='message' name='message'></textarea>
            </div>

            <button name='submit'>Envoyer</button>
            
        </form>

    </fieldset>
    </main>
</div>