<main>

    <h1>Bienvenu sur mon Portfolio.</h1>

<div class='presentation'>
    <img src='../public/uploads/mini-portrait.png' alt="image d'un beau gosse">
    <p>
        Je m'appelle Kevin Duwiquet, et je suis en reconversion professionnelle en Développement Web et Web Mobile chez M2i Formation.<br>
        Je suis passionné d’informatique et de l’univers du jeu vidéo, je develloppe des jeux sur le moteur de jeux Unity depuis 2018.<br>
        J'ai suivi diverses formation sur different MOOC tel qu'Openclassrooms pour les langages de programmation (C++, C#),<br>
        et Udemy pour varier mes techniques de GameDesign ainsi que la maitrise de Unity et aujourd'hui Godot.

        
    </p>
    
</div>

</main>
