
<footer>
    <div class='footer-container'>        
        <ul>
            <a href='../controller/AboutController.php'>A propos de moi</a>
            <a href='../controller/ContactController.php'>Contact</a>
        </ul>
        <ul>
            <li><a href='https://www.linkedin.com/in/kevin-duwiquet-ab7b111b5/' target='_blank'>LinkedIn<br><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href='https://github.com/Kriegerusan' target='_blank'>Github<br><i class="fa-brands fa-github"></i></a></li>
            <li><a href='https://kriegeru-san.itch.io' target='_blank'>Itch.io<br><i class="fa-brands fa-itch-io"></i></a></li>
        </ul>
    </div>  
    
</footer>