<div class='content-wrapper'>
<main>

    <h1>A propos de moi</h1>

<div class='presentation'>
    
    <img src='../public/uploads/mini-portrait.png' alt="image d'un beau gosse">
    <p>
        Je m'appelle Kevin Duwiquet, et je suis en reconversion professionnelle en Développement Web et Web Mobile chez M2i Formation. <br>
        Je suis passionné d’informatique et de l’univers du jeu vidéo, je develloppe des jeux sur le moteur de jeux Unity depuis 2018. <br>
        J'ai suivi diverses formation sur different MOOC tel qu'Openclassrooms pour les langages de programmation (C++, C#), <br>
        et Udemy pour varier mes techniques de GameDesign ainsi que la maitrise de Unity et aujourd'hui Godot. <br>
        <br>
        Au cours de ma formation j'ai pu aquerir des competences en HTML , CSS , PHP , MySQL , JavaScript , <br>
        et l'utilisation des frameworks tels que Symfony. <br>
        <br>
        J'ai pu travailler sur des projets en collaboration avec d'autres developpeur ainsi que des projets personnel, comme ce site par exemple. <br>

        
    </p>

</div>

<div class='resume'>
    
    <h2>Pour resumé</h2>
    <p>
        Langages de programmation : C++ , C# , HTML , CSS , JavaScript , PHP , MySQL <br>
        Framework : Symfony <br>
        Environement d'execution : Node.js <br>
        Outils Collaboratif : Figjam , Trello <br>
        Outils de versionnage : Git/Github <br>
    </p>

</div>

<!-- <div class='CV'>
    <h2>
        Mon CV
    </h2>
    <a download='CVDWWM24.png' href='../public/uploads/CVDWWM24.png' title='CV'>
        <img src='../public/uploads/CVDWWM24.png' width='250vw'>
    </a>
</div> -->

</main>
</div>
